# Python caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.env.local
.env.*.local
.venv/
venv/
ENV/
env/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS junk
.DS_Store
Thumbs.db
